.LoaderOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20000;
  opacity: 0;
  visibility: hidden;
}

.LoaderOverlayEnterActive {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.LoaderOverlayEnterDone,
.LoaderOverlayExit {
  opacity: 1;
  visibility: visible;
}

.LoaderOverlayExitActive {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.LoaderWrapper {
  display: flex;
  height: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  justify-content: center;
  align-items: center;
}

.Loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.Loader div {
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.Loader div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.Loader div:nth-child(1) {
  animation-delay: -0.036s;
}

.Loader div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.Loader div:nth-child(2) {
  animation-delay: -0.072s;
}

.Loader div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.Loader div:nth-child(3) {
  animation-delay: -0.108s;
}

.Loader div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.Loader div:nth-child(4) {
  animation-delay: -0.144s;
}

.Loader div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.Loader div:nth-child(5) {
  animation-delay: -0.18s;
}

.Loader div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.Loader div:nth-child(6) {
  animation-delay: -0.216s;
}

.Loader div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.Loader div:nth-child(7) {
  animation-delay: -0.252s;
}

.Loader div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.Loader div:nth-child(8) {
  animation-delay: -0.288s;
}

.Loader div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
