.Text {
  font-style: normal;
  color: white;
  text-align: left;
  padding-bottom: 3rem;
}

.Title {
  font-weight: 300;
  font-size: 4rem;
  line-height: 4.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.Line {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
}

.Text--center {
  text-align: center;
}

.Text--removeBottomPadding {
  padding-bottom: 0;
}
