.FilterAndSortBar {
  min-width: 100%;
  overflow-x: auto;
}

.FilterAndSortBar > div {
  display: flex;
  min-width: fit-content;
  border-bottom: 0.3rem solid #424242;
}

.GenreFilter {
  display: flex;
  min-width: fit-content;
}

/* .FilterAndSortBar > div > button:first-child {
  margin-left: auto;
}

.FilterAndSortBar > div > button:last-child {
  margin-right: auto;
} */

.FilterAndSortBarButton {
  width: auto;
  background: none;
  border-radius: 0;
  border-bottom: 0.3rem solid transparent;

  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;

  margin-bottom: -0.3rem;
  transition: border-color 0.2s ease-out;
}

.FilterAndSortBarButton:hover {
  border-color: #f6526085;
}

.FilterAndSortBarButton + .FilterAndSortBarButton {
  margin-left: 3rem;
}

.FilterAndSortBarButton.active,
.FilterAndSortBarButton.active:hover {
  border-bottom: 0.3rem solid #f65261;
}
