.SortingBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.SortingBlock > span {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.9px;
  opacity: 0.6;
  margin-right: 1rem;
}

.SortingSelect {
  cursor: pointer;
  appearance: none;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: white;
  background: none;
  border: none;
  /* padding: 1rem 2rem; */
  padding-left: 2rem;
  padding-top: 1rem;
  padding-right: 2.5rem;
  padding-bottom: 1rem;
  outline: none;
}

.SortingSelect option {
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: initial;
}

.SortingSelectWrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 1rem;
}

.SortingSelectIcon {
  position: absolute;
  right: 0;
  pointer-events: none;
}
