.MovieInfoWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 5rem;
  margin-bottom: 1rem;
}

.MovieInfoWrapper > img {
  width: 32.3rem;
}

.MovieInfo {
  display: flex;
  flex-direction: column;
}

.MovieInfoHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2.5rem;
  margin-bottom: 0.5rem;
}

.MovieInfoTitle {
  padding-bottom: 0;
}

.MovieInfoGenres {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: white;
  opacity: 0.5;
}

.MovieInfoHeader > span {
  flex-shrink: 0;

  font-weight: 300;
  font-size: 2rem;
  line-height: 2.4rem;

  display: grid;
  place-content: center;

  border: 0.1rem solid white;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.MovieInfoStats {
  display: flex;
  flex-direction: row;
  column-gap: 5rem;
  margin-bottom: 3rem;

  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 300;
  color: var(--primaryColor);
}

.MovieInfoDescription {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.4rem;
  color: white;
  opacity: 0.5;
}
