.ModalOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(35, 35, 35, 0.9);
  backdrop-filter: blur(5px);
  z-index: 10000;
  overflow-y: auto;
}
