.MovieImageWrapper {
  position: relative;
  overflow: hidden;
}

.MovieImageWrapper::before {
  display: block;
  content: '';
  position: relative;
  width: 100%;
  padding-bottom: 150%; /* 320x480 */
}

.MovieImage {
  position: absolute;
  width: 100%;
  margin: auto;
  inset: 0;
}
