.Button {
  cursor: pointer;
  background-color: #f65261;
  color: white;
  border: none;
  border-radius: 4px;
  width: 100%;
  max-width: 23.3rem;
  height: 5.7rem;

  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  text-transform: uppercase;
}

.Button--secondary {
  border: 0.15rem solid var(--primaryColor);
  color: var(--primaryColor);
  background: none;
}

.LinkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
