.CloseButton {
  position: relative;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  overflow: hidden;
}

.CloseButton::after {
  display: flex;
  content: '\00d7';
  font-weight: 100;

  justify-content: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.CloseButton--medium {
  width: 3rem;
  height: 3rem;
}

.CloseButton--medium::after {
  font-size: 8rem;
  line-height: 3rem;
}

.CloseButton--small {
  width: 1.5rem;
  height: 1.5rem;
}

.CloseButton--small::after {
  font-size: 4rem;
  line-height: 1.5rem;
}
