.MovieTileWrapper {
  position: relative;
}

.MovieTile {
  display: block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.MovieTileActions {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5rem;
}

.MovieTileSettingsButton {
  background-color: var(--backgroundColor);
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.MovieTileWrapper:hover .MovieTileSettingsButton {
  opacity: 1;
  visibility: visible;
}

.MovieTileContextMenu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundColor);
  padding-bottom: 1.2rem;
  border-radius: 4px;
  min-width: 19rem;

  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.MovieTileContextMenu--open {
  opacity: 1;
  visibility: visible;
}

.MovieTileContextMenu > button {
  background: none;
  color: white;
  padding: 1rem 2.3rem;
  border: none;
  text-align: left;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  mix-blend-mode: normal;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.MovieTileContextMenu > button:hover {
  opacity: 1;
  background-color: var(--primaryColor);
}

.MovieTileContextMenuClose {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.MovieTile img {
  width: 100%;
}

.MovieTileTitleAndYear {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

.MovieTileTitle {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  opacity: 0.7;
}

.MovieTileDescription {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  opacity: 0.5;
}

.MovieTileYear {
  align-self: flex-start;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  opacity: 0.7;
  padding: 0.4rem 1.5rem;
  border: 0.1rem solid #979797;
  border-radius: 4px;
  margin-left: 0.5rem;
}
