.Notification {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30000;
  transform: translateY(-100%);

  display: flex;
  justify-content: center;
  padding: 3rem 2rem 0 2rem;
  background-color: var(--primaryColor);
}

.enterActive {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.enterDone,
.exit {
  transform: translateY(0);
}

.exitActive {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}
