.ModalWrapper {
  position: relative;
  margin: auto;
  width: 100%;
  padding: 6rem;
  background-color: var(--backgroundColor);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.07), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 10px 50px rgba(0, 0, 0, 0.05);
}

.ModalWrapperCloseButton {
  position: absolute;
  top: 3rem;
  right: 3rem;
}
