.FormFieldsWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
}

.FullWidthField {
  grid-column: 1 / -1;
}

.Buttons {
  margin-top: 6rem;
  display: flex;
  column-gap: 1.3rem;
  justify-content: flex-end;
}

.Buttons > button {
  max-width: 18rem;
}
