.HeaderWrapper {
  position: relative;
  min-height: 39.6rem;
  margin-bottom: 1rem;
  background-color: var(--backgroundColor);
  overflow: hidden;
}

.HeaderBackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url('../../assets/header.png');
  background-repeat: no-repeat;
  background-blend-mode: normal;
  background-position: center;
  background-size: cover;
  filter: blur(3px);
  opacity: 0.5;
}

.HeaderContent {
  position: relative;
  z-index: 10;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem 6rem;
}
