.AddMovieModal {
  max-width: 97.6rem;
}

.DeleteMovieModal {
  max-width: 68.6rem;
}

.AddMovieSuccessModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 68.6rem;
  padding-top: 4rem;
}

.AddMovieSuccessModalIcon {
  margin-bottom: 3rem;
}

.DeleteButtonWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
