.Field {
  display: flex;
  flex-direction: column;
}

.Field > label {
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  color: var(--primaryColor);
  opacity: 0.8;
  padding-bottom: 1.3rem;
}

.Field > input,
.Field > textarea,
.Field > .Dropdown {
  background-color: #424242;
  border-radius: 4px;
  padding: 1.7rem;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  max-width: 100%;
  min-width: 100%;
}

.Field > .Dropdown {
  position: relative;
  padding: 0;
}

.Field > .Dropdown > span {
  display: flex;
  align-items: baseline;
  padding: 1.7rem;
  cursor: pointer;
}

.DropdownOptions {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  position: absolute;
  padding: 1.5rem;
  visibility: hidden;
  opacity: 0;
  background-color: #232323;
  width: 100%;
  transition: all 0.2s ease-in-out;
  z-index: 10;
}

.DropdownOptions--open {
  visibility: visible;
  opacity: 1;
}

.DropdownOption {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  column-gap: 0.7rem;
  accent-color: var(--primaryColor);
}

.DropdownOption > input {
  width: 1.6rem;
  height: 1.6rem;
}

.DropdownIcon {
  margin-left: auto;
  width: 2rem;
  height: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.DropdownIcon--open {
  transform: rotate(0.5turn);
}
