:root {
  --primaryColor: #f65261;
  --backgroundColor: #232323;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  background-color: #555555;
  color: white;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1 {
  text-align: center;
}

.AddButton {
  color: var(--primaryColor);
  background-color: rgba(96, 96, 96, 0.68);
  border-radius: 4px;
  padding: 1.1rem 1.8rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  width: auto;
}

.SearchButton {
  background: none;
  padding: 0 1rem;
  width: auto;
}
