.SettingsIcon {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 0.35rem;
  align-items: center;
}

.SettingsIcon > div {
  background-color: white;
  border-radius: 50%;
  width: 0.4rem;
  height: 0.4rem;
}
